.nav {
    grid-area: n;
    background-color: #9a8fb6;
    padding: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:focus {
     color: black;
 }

.item a.activeLink {
    color: gold;
}