.nav {
    grid-area: n;
    background-color: aliceblue;
    padding: 10px;
}

.item a {
    color: darkblue;
    text-decoration: none;
}

.item a:focus {
     color: red;
 }

.item a.activeLink {
    color: gold;
}